.home_icon {
    box-sizing: border-box;
    margin-top: 7px;
    width: 38px;
    cursor: pointer;
    display: inline-block;
    margin-left: 15px;
    margin-bottom: 0px;
    text-decoration: none
}