<html>
    <head>
        <title>BookInfo</title>
        <link rel="stylesheet" href="/static/style.css">
        <link rel="stylesheet" href="/static/bookstyle.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">
    </head>
    <body>
        
        <header class="top_header"> 
            <a class="menu_item brand" href="Templates/index.html">WriteARead</a>
            <a class="menu_item" href="Templates/index.html">Home</a>
        </header>

        <div>
            <div class="flexbox">
                <div class="item">
                    <img class="book_cover" src="image/temp_cover2.png" alt="book_cover" />
                </div>
                <div class ="info_flexbox">
                    <div class="info_item">
                        <a class="tag">รักใสๆ</a>
                    </div>
                    <div class="info_item">
                        <a class="book_title">รักลับๆกับเจ้านายเย็นชา</a>
                    </div>
                    <div class="info_item">
                        <a class="tag">Writer_name</a>
                    </div>
                    <div class="info_item">
                        <a class="book_title">รักลับๆกับเจ้านายเย็นชา</a>
                    </div>
                </div>
            </div>
            <div class = "Flexbox">
                <div class="item">
                    <img class="book_cover" src="image/temp_cover2.png" alt="book_cover" />
                </div>
            </div>
        </div>

        <footer class="bottom_footer">
            <a class="menu_item" href="https://www.readawrite.com/">ReadAWrite</a>
        </footer>

    </body>


</html>